langchain
sentence-transformers
langchain-community
langchain-groq
chromadb
torch
anvil-uplink
numpy
pandas
matplotlib
scikit-learn
transformers
datasets
accelerate
tqdm
faiss-cpu
huggingface-hub
opencv-python
scipy
ipython
colabcode
